<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageName</key>
	<string>Sprites01</string>
	<key>Database</key>
	<dict>
		<key>Heart_00</key>
		<dict>
			<key>Rectangle</key>
			<string>{{0,320},{38,32}}</string>
		</dict>
		<key>Heart_01</key>
		<dict>
			<key>Rectangle</key>
			<string>{{38,320},{34,32}}</string>
		</dict>
		<key>Heart_02</key>
		<dict>
			<key>Rectangle</key>
			<string>{{72,320},{26,32}}</string>
		</dict>
		<key>Heart_03</key>
		<dict>
			<key>Rectangle</key>
			<string>{{98,320},{14,32}}</string>
		</dict>
		<key>Heart_04</key>
		<dict>
			<key>Rectangle</key>
			<string>{{112,320},{26,32}}</string>
		</dict>
		<key>Heart_05</key>
		<dict>
			<key>Rectangle</key>
			<string>{{138,320},{34,32}}</string>
		</dict>
		<key>Sparkle_00</key>
		<dict>
			<key>Rectangle</key>
			<string>{{0,352},{38,16}}</string>
		</dict>
		<key>Sparkle_01</key>
		<dict>
			<key>Rectangle</key>
			<string>{{38,352},{20,20}}</string>
		</dict>
		<key>Sparkle_02</key>
		<dict>
			<key>Rectangle</key>
			<string>{{58,352},{8,16}}</string>
		</dict>
		<key>Sparkle_03</key>
		<dict>
			<key>Rectangle</key>
			<string>{{66,352},{10,10}}</string>
		</dict>
		<key>Sparkle_04</key>
		<dict>
			<key>Rectangle</key>
			<string>{{76,352},{12,12}}</string>
		</dict>
		<key>Sparkle_05</key>
		<dict>
			<key>Rectangle</key>
			<string>{{88,352},{8,8}}</string>
		</dict>
		<key>Sparkle_06</key>
		<dict>
			<key>Rectangle</key>
			<string>{{88,352},{4,4}}</string>
		</dict>
	</dict>
</dict>
</plist>
