<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageName</key>
	<string>Sprites01</string>
	<key>SpriteName</key>
	<string>Sparkle</string>
	<key>Frames</key>
	<array>
		<dict>
			<key>Name</key>
			<string>01</string>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>38</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>02</string>
			<key>X</key>
			<integer>38</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>20</integer>
			<key>Height</key>
			<integer>20</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>03</string>
			<key>X</key>
			<integer>58</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>8</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>04</string>
			<key>X</key>
			<integer>66</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>10</integer>
			<key>Height</key>
			<integer>10</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>05</string>
			<key>X</key>
			<integer>76</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>12</integer>
			<key>Height</key>
			<integer>12</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>06</string>
			<key>X</key>
			<integer>88</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>8</integer>
			<key>Height</key>
			<integer>8</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>07</string>
			<key>X</key>
			<integer>88</integer>
			<key>Y</key>
			<integer>352</integer>
			<key>Width</key>
			<integer>4</integer>
			<key>Height</key>
			<integer>4</integer>
			<key>AnchorX</key>
			<integer>0</integer>
			<key>AnchorY</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
