<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageName</key>
	<string>Sprites01</string>
	<key>SpriteName</key>
	<string>Toutoulina</string>
	<key>Frames</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Standard</string>
			<key>X</key>
			<integer>236</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Falling 1</string>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Falling 2</string>
			<key>X</key>
			<integer>56</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>JumpArmsOpen</string>
			<key>X</key>
			<integer>120</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Flattened</string>
			<key>X</key>
			<integer>404</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>66</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Flattened Closed</string>
			<key>X</key>
			<integer>404</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>66</integer>
			<key>Height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Climbing</string>
			<key>X</key>
			<integer>184</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>52</integer>
			<key>Height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Balloon1</string>
			<key>X</key>
			<integer>292</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Balloon2</string>
			<key>X</key>
			<integer>348</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Standard Closed</string>
			<key>X</key>
			<integer>236</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Falling 1 Closed</string>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Falling 2 Closed</string>
			<key>X</key>
			<integer>56</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>JumpArmsOpen Closed</string>
			<key>X</key>
			<integer>120</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>Height</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Climbing Closed</string>
			<key>X</key>
			<integer>184</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>52</integer>
			<key>Height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Balloon1 Closed</string>
			<key>X</key>
			<integer>292</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Balloon2 Closed</string>
			<key>X</key>
			<integer>348</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>56</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash1</string>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>160</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash2</string>
			<key>X</key>
			<integer>104</integer>
			<key>Y</key>
			<integer>160</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash3</string>
			<key>X</key>
			<integer>208</integer>
			<key>Y</key>
			<integer>160</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash4</string>
			<key>X</key>
			<integer>312</integer>
			<key>Y</key>
			<integer>160</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash5</string>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>238</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash6</string>
			<key>X</key>
			<integer>104</integer>
			<key>Y</key>
			<integer>238</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Splash7</string>
			<key>X</key>
			<integer>208</integer>
			<key>Y</key>
			<integer>238</integer>
			<key>Width</key>
			<integer>104</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
	</array>
</dict>
</plist>
